.DS_Store
bin/
*.log

web/node_modules/
web/test-results/
.playwright-github/
web/playwright-report/
web/*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
web/playwright.config.js
web/playwright.config.d.ts

